/* 设置网页背景 */
.puzzelbody {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent 39px, black 39px, black 40px),
    linear-gradient(90deg, transparent 39px, black 39px, black 40px);
  background-size: 40px 40px;
  position: relative;
}

/* 样式化方块 */
/* .drag-box {
  width: 80px;
  height: 80px;
  position: absolute;
  cursor: grab;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* transition: transform 0.3s ease-in-out; 添加过渡效果 */
/* background: url(./demo.png);
  background-size: 80px 80px;
} */
*/

/* 添加拖动时的样式 */
.dragging {
  cursor: grabbing !important;
}
