.board {
  margin: 1px;
  position: absolute;
  /* background-color: pink; */
  height: 5rem;
  width: 10rem;
  left: calc(50%);
  margin-left: -5rem;

  display: grid;
  grid-template-columns: repeat(10, 1rem);
  grid-template-rows: repeat(5, 1rem);
  border-collapse: collapse;
  cursor: move;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
/* 

.container {
  display: grid;
  grid-template-columns: repeat(22, 30px);
  grid-template-rows: repeat(17, 30px);
  border-collapse: collapse;
  border: none;
  cursor: move;
  position: absolute;
  left: 50%;
  top: 2rem;
  margin-left: -330px;
  border: 1px solid rgba(0, 0, 0, 0.5);
} */
