/* GridTable.css */

.puzzel {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  text-align: center;
}

.welcome {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  margin-left: -11rem;
  height: 3rem;
  width: 22rem;
  background: url(/images/puzzel_header.png) no-repeat;
  background-size: contain;
}

.container {
  display: grid;
  grid-template-columns: repeat(22, 1rem);
  grid-template-rows: repeat(17, 1rem);
  border-collapse: collapse;
  /* cursor: move; */
  position: absolute;
  left: 50%;
  top: 3rem;
  margin-left: -11rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.grid-item {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 0.4rem;
}

/* 添加拖动时的样式 */
.dragging {
  cursor: grabbing !important;
}
